body {
    margin: 0px;
    padding: 0px;
}
#content {
    margin-top: 56px;
}
.profile-img{
    width: 23px;
    height: 23px;
    border-radius: 100%;
}
/* shopping cart */
li.b-nav-dropdown .dropdown-menu{
    left:-130px;
}
#totalAmount{
    margin-left:6px;
}
